@model CryptoNews.Core.DTO.CommentWithInfoDto

<div class="card col-sm-12">
    <div class="reply_author">
        <p class="card-title">@Model.UserFullName</p>
    </div>
    <div class="reply_rext">
        <p class="card-text">@Model.Text</p>
    </div>
    <div class="reply_footer">
        <div class="reply_date">
            <h6>@Model.CreateAt.ToString("d MMM, yyyy 'at' HH:mm")</h6>
        </div>
    </div>
</div>
