@using Microsoft.AspNetCore.Mvc.Rendering
@model CryptoNews.Models.ViewModels.CommentsListVM


@{
    Layout = null;
}

<div class="container">
    <div id="comments-list" class="row">
        @foreach (var comment in Model.Comments)
        {
            @await Html.PartialAsync("Comment.cshtml", comment)
        }
    </div>
</div>