@{
    Layout = null;
}

<form>
    <input type="hidden" id="newsId" name="newsId" value="@Model.NewsId" />

    <div class="mb-3">
        <label for="commText" class="form-label">Your comment:</label>
        <textarea name="commText" maxlength="2000" placeholder="What do you think about it?" class="form-control" id="commText" rows="3"></textarea>
    </div>

    <div class="col-sm-12">
        <button class="btn btn-primary write-comment-btn" id="send-comment">Send</button>
    </div>
</form>
