@using CryptoNews.HtmlHelpers
@model CryptoNews.Models.ViewModels.NewsListWithPaginator

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-controller="News" asp-action="Aggregate">Aggregate</a>
</p>
<p>
    <a asp-controller="News" asp-action="DeleteAll">Delete All</a>
</p>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


    <div class="row">
        @foreach (var item in Model.NewsPerPages)
        {
            await Html.RenderPartialAsync("PreviewNews", item);
        }
    </div>


<div class="btn-group">
    @Html.CreatePaginator(Model.PageInfo, i => Url.Action("Index", new { 
    sourceId = Model.NewsPerPages.FirstOrDefault().RssSourceId, 
    pageNumber = i 
}))
</div>
    
<pag source-id="@Model.NewsPerPages.FirstOrDefault().RssSourceId" page-info="Model.PageInfo" page-action="Index" ></pag>
    