@using CryptoNews.HtmlHelpers
@model CryptoNews.Models.ViewModels.NewsListWithPaginator

@{
    ViewData["Title"] = "All News";
}

<p>
    <a asp-controller="News" asp-action="Aggregate">Aggregate</a>
</p>


<h1>All News</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


    <div class="row">
        @foreach (var item in Model.NewsPerPages)
        {
            await Html.RenderPartialAsync("PreviewNews", item);
        }
    </div>


<div class="btn-group">
    @Html.CreatePaginator(Model.PageInfo, i => Url.Action("Index", new { 
    @*sourceId = Model.NewsPerPages.FirstOrDefault().RssSourceId,*@ 
    pageNumber = i 
}))
</div>
    

<script>
    export default {

        methods: {// функций на страницу
            prev() {
                const page = @Model.PageInfo.PageNumber;
                if (page > 0) {
                    let num = page - 1;
                    Response.Redirect("~/News/Index/"+num);
            },
            next() {
                const page = @Model.PageInfo.PageNumber;
                    if (page < @Model.PageInfo.CountPages) {
                        let num = page + 1;
                        Response.Redirect("~/News/Index/"+num);
                    }                   
            },
        },
    }
</script>
    