@{
    Layout = null;
}

<li id="profile-settings" class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Log_in</a>
</li>

<li id="profile-settings" class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
</li>
