@model CryptoNews.Models.ViewModels.LoginVM

<h2 class="flyer__title">Login</h2>

<div class="flyer__box">
    <div class="flyer__body">
        <form asp-controller="Account" asp-action="Login" asp-antiforgery="true" method="post">
            <input type="hidden" asp-for="ReturnUrl">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" type="text" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary" />
            </div>
        </form>
        <button id="spec-btn" class="btn btn-info" onclick="aggregateForm()">Button</button>
    </div>
</div>

<div class="flyer__footer">
    <p>
        <a href="/register">Register</a>
        for those who are on the site for the first time
    </p>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/workWithDOM.js"></script>
}
