@model CryptoNews.Models.ViewModels.RegisterVM

<h2 class="flyer__title">Registration</h2>

<div class="flyer__box">
    <div class="flyer__body">
        <form style="display:inline-block" asp-controller="Account" asp-action="Register" asp-antiforgery="true" method="post">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name*</label>
                <input asp-for="FirstName" type="text" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name*</label>
                <input asp-for="LastName" type="text" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email*</label>
                <input asp-for="Email" type="text" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password*</label>
                <input asp-for="Password" type="password" />
                <small id="passwordHelpBlock" class="form-text text-muted">&ge; 6 symbols</small>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 0.7rem;">
                <label asp-for="PasswordConfirm" class="control-label pass-confirm">Password<br />Confirmation</label>
                <input asp-for="PasswordConfirm" type="password" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label phone-num">Phone Number</label>
                <input asp-for="PhoneNumber" type="tel" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:inline-flex">
                <div style="margin-right:4rem">
                    <label asp-for="Gender" class="control-label">Gender</label>
                </div>
                <div id="gender_radio">
                    <div><input asp-for="Gender" type="radio" value="Male" />Male<br /></div>
                    <div><input asp-for="Gender" type="radio" value="Female" />Female<br /></div>
                    <div><input asp-for="Gender" type="radio" value="Trans" />Trans<br /></div>
                </div>

            </div>
            <div class="form-group" id="counter-box">
                <label asp-for="ShortDescription" style="margin-bottom: 0">About you:</label>
                <textarea asp-for="ShortDescription" class="p7v" id="counter-input" rows="3" maxlength="200"></textarea>
                <div id="counter-text">
                    <span class="counter-text__current">0</span>/<span class="counter-text__total">200</span>
                </div>
                <small id="aboutMeHelpBlock" class="form-text text-muted">
                    Provide personal information, even if the account<br /> will be used for a company, a pet or for other purposes.
                </small>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div class="flyer__footer">
    <p>
        <a href="login">Login</a>
        for those who are already registered
    </p>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/counterReg.js"></script>
}